body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background: #111;
  color: white;
  padding: 15px;
}

header>* {
  max-width: 1100px;
  margin: 0 auto;
}


nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

footer {
  background: #eee;
  text-align: center;
  padding: 10px;
}

.container {
  max-width: none;
  margin: 0 auto;
  padding: 0 20px;
}



.contact-btn {
  display: inline-block;
  padding: 12px 24px;
  background: #005bac;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 12px;
  max-width: 1200px;
  margin: 0 auto;
}


.player-card {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 4;
  background: #000;
  overflow: hidden;
}

.player-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.player-info {
  position: absolute;
  inset: 0;
  padding: 20px;
  color: #fff;
}

.player-info h3 {
  margin: 0;
  font-size: 18px;
}

.player-info .en {
  font-size: 12px;
  opacity: 0.7;
}

.player-info .pos {
  font-size: 12px;
  margin-top: 4px;
}

.player-info .number {
  position: absolute;
  right: 15px;
  bottom: 10px;
  font-size: 48px;
  color: #eaab46;
  opacity: 0.6;
  font-weight: bold;
}

.player-detail {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

.stats {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.stat {
  flex: 1;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.label {
  display: block;
  font-size: 14px;
  color: #666;
}

.value {
  font-size: 28px;
  font-weight: bold;
}
